[submodule "external/Catch2"]
	path = external/Catch2
	url = ../../catchorg/Catch2
[submodule "external/clipp"]
	path = external/clipp
	url = ../../andreasWallner/clipp
	branch = c++20
[submodule "external/fmt"]
	path = external/fmt
	url = ../../fmtlib/fmt
[submodule "external/GSL"]
	path = external/GSL
	url = ../../Microsoft/GSL
[submodule "external/libusb"]
	path = external/libusb
	url = ../../libusb/libusb
